.profile,
.profile-container {
  display: flex;
  justify-content: center;
}
.profile-data {
  display: flex;
  flex-direction: column;
}
.profile-container {
  margin-top: 50px;
}
.p-float-label {
  margin-bottom: 15px;
}
.profile-change_button {
  margin-top: 15px;
}
.m-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-change_new,
.profile-change_old {
  margin: 10px;
}
