<div class="card flex justify-content-center sidebar">
    <div class="flex justify-content-center">
        <p-tree [value]="filtersService.data" class="w-full md:w-30rem">
            <ng-template let-node pTemplate="default">
                <b *ngIf="node.label !== 'Оптовая цена'"><ng-container *ngIf="node.label !== 'Розничная цена'">
                    <ng-container *ngIf="node.label === 'Страна' || node.label === 'Количество'">
                        {{ node.label }}
                    </ng-container>
                    
                    <ng-container *ngIf="node.label !== 'Страна'">
                        <ng-container *ngIf="node.label !== 'Количество'">
                            <p-checkbox (click)="sendFilterData()" name="groupname" value="{{ node.label }}" label="{{ node.label }}" [(ngModel)]="selectedFilters"></p-checkbox>
                        </ng-container>
                    </ng-container>
                </ng-container></b>

                <b class="priceWrapper" *ngIf="node.label === 'Оптовая цена' || node.label === 'Розничная цена'">
                    {{ node.label }}
                    
                    <div class="price" *ngIf="node.label === 'Оптовая цена'">
                        <div class="inputs-warpper">
                            <!-- <input type="text" pInputText [(ngModel)]="retailSaleValues[0]" class="w-full md:w-30rem from"/> -->
                            <input type="text" pInputText [(ngModel)]="wholeSaleValues" class="w-full md:w-30rem to"/>
                            <p-button (click)="sendFilterData()" label="OK" [text]="true" [raised]="true"></p-button>
                        </div>
                        <mat-slider [max]="filtersService.getMinMaxWholesalePrice('max')">
                            <input matSliderThumb [(ngModel)]="wholeSaleValues">
                        </mat-slider>
                        
                        <!-- <mat-slider #slider [min]="minMaxRetailSale[0]" [max]="minMaxRetailSale[1]">
                            <input value="20" matSliderStartThumb>
                            <input value="50" matSliderEndThumb>
                        </mat-slider> -->
                    </div>
                    <div class="price" *ngIf="node.label === 'Розничная цена'">
                        <div class="inputs-warpper">
                            <!-- <input type="text" pInputText [(ngModel)]="minMaxRetailSale[0]" class="w-full md:w-30rem from"/> -->
                            <input type="text" pInputText [(ngModel)]="retailSaleValues" class="w-full md:w-30rem to"/>
                            <p-button (click)="sendFilterData()" label="OK" [text]="true" [raised]="true"></p-button>
                        </div>
                        <mat-slider [max]="filtersService.getMinMaxRetailPrice('max')">
                            <input matSliderThumb [(ngModel)]="retailSaleValues">
                        </mat-slider>
                        
                        <!-- <mat-slider max="minMaxRetailSale">
                            <input [(ngModel)]="minMaxRetailSale[0]" matSliderStartThumb>
                            <input [(ngModel)]="maxRetailSale" matSliderThumb>
                        </mat-slider> -->
                    </div>
                </b>
            </ng-template>
        </p-tree>
    </div>

</div>