<div class="main-wrapper">
    <app-carousel></app-carousel>
        
    <section class="title-wrapper">
        <h2 class="title">ТОВАРЫ</h2>
    </section>
    
    <app-products-carousel></app-products-carousel>
    
    <section class="main-img-wrapper"><img class="img" src="{{mainImgSrc}}" alt=""></section>
    
    <section class="title-wrapper">
        <h2 class="title">ИНТЕР-ПЛАСТ СЕРВИС</h2>
    </section>
    
    <section class="about-us">
        <p class="about-us-text">{{aboutUsText}}</p>
    </section>
    
    <section class="title-wrapper">
        <h2 class="title">ХИТ ПРОДАЖ</h2>
    </section>
    
    <section class="main-category-carousel">//пока ничего//</section>
    
    <app-consultation></app-consultation>
    <!-- <app-scroll-up></app-scroll-up> -->
</div>