.product-img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}
.product-card {
  margin: 1rem;
}

.product-title {
  font-size: 1rem;
  font-weight: bold;
  height: 4rem; /* Adjust to fit the maximum number of lines you expect */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the title to 2 lines */
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
  margin-top: 10px;
}

.img {
  height: 45px;
}
.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  max-height: 300px;
}

.btn-wrapper {
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.line-break {
  white-space: pre-line;
}

.pricetag {
  display: flex;
  align-items: center;
  font-size: 20px;
}
