<div class="card">
  <div class="about-us-header">
    <h1>{{ "about-us.header" | translate }}</h1>
  </div>

  <div class="info">
    <p class="left">{{ "about-us.comp-left" | translate }}</p>
    <p class="right">ТОВ "Интер-Пласт Сервис"</p>
  </div>

  <div class="info">
    <p class="left">{{ "about-us.ceo-left" | translate }}</p>
    <p class="right">{{ "about-us.ceo-right" | translate }}</p>
  </div>

  <div class="info">
    <p class="left">{{ "about-us.loc-left" | translate }}</p>
    <p class="right">{{ "about-us.loc-right" | translate }}</p>
  </div>

  <div class="info">
    <p class="left">{{ "about-us.mail-left" | translate }}</p>
    <p class="right">
      <a href="mailto:ipstorg@gmail.com">'ipstorg&#64;gmail.com'</a>
    </p>
  </div>

  <div class="info">
    <p class="left">{{ "about-us.phone-left" | translate }}</p>
    <p class="right">
      <a href="tel:+380505667571">+38(050)566-75-71</a>
    </p>
  </div>
</div>

<app-consultation></app-consultation>
