<div class="card">
  <div class="about-us-header">
    <h1>Контакти</h1>
  </div>

  <div class="info">
    <p class="left">Компанія</p>
    <p class="right">ТОВ "Интер-Пласт Сервис"</p>
  </div>

  <div class="info">
    <p class="left">Директор</p>
    <p class="right">Зарубін Олексій Леонідович</p>
  </div>

  <div class="info">
    <p class="left">Адреса</p>
    <p class="right">пр.Гагаріна 1, Харків, Україна</p>
  </div>

  <div class="info">
    <p class="left">Електронна пошта</p>
    <p class="right">'ipstorg&#64;gmail.com'</p>
  </div>

  <div class="info">
    <p class="left">Телефон</p>
    <p class="right">0505667571</p>
  </div>
</div>

<app-consultation></app-consultation>
