// @import "bootstrap/dist/css/bootstrap.min.css";
@import "@coreui/coreui/scss/coreui";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
