<div class="container">
  <div class="top-section">
    <h2 class="category">{{ categories?.title }}</h2>

    <mat-form-field class="sort-select">
      <mat-label>Sort products</mat-label>
      <mat-select (selectionChange)="sortProducts($event.value)">
        <mat-option value="A-Z">A-Z</mat-option>
          <mat-option value="Z-A">Z-A</mat-option>
          <mat-option value="price-up">Price ⇧</mat-option>
          <mat-option value="price-down">Price ⇩</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="category-page">
    <main class="products-section">
      <div class="grid-container">
        <div
          class="product"
          *ngFor="let product of toShow"
          [routerLink]="['/products', product._id]"
        >
          <h3>{{ product.title }}</h3>
          <img [src]="product.imgSrc" alt="Product Image" />
          <p>{{ product.description }}</p>
          <p>Price: {{ product.retailPrice }}</p>
        </div>
      </div>
    </main>
    <mat-paginator
      [length]="[totalItems]"
      [pageSize]="[pageSize]"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
