<section class="form">
  <div class="card">
    <form #form="ngForm">
      <section class="consultation-title">
        <h2 id="consultation">CВЯЗАТЬСЯ С НАМИ</h2>
      </section>
      <div class="form-group">
        <p-floatLabel>
          <input pInputText id="email" name="email" [(ngModel)]="inputEmail" />
          <label for="username">Почта</label>
        </p-floatLabel>
      </div>

      <div class="form-group">
        <p-floatLabel>
          <input pInputText id="topic" name="topic" [(ngModel)]="inputTopic" />
          <label for="username">Тема</label>
        </p-floatLabel>
      </div>

      <div class="form-group">
        <p-floatLabel>
          <textarea
            id="message"
            name="message"
            [(ngModel)]="inputMessage"
            rows="5"
            cols="30"
            required
            pInputTextarea
          ></textarea>
          <label for="message" class="message-label">Сообщение:</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <button
          type="submit"
          (click)="add(form.value)"
          class="sendBtn"
          role="button"
          pButton
          type="button"
          label="Отправить"
        ></button>
      </div>
    </form>
  </div>
  <!-- <div class="image-wrapper">
    <img
      src="../../assets/images/917597d6739fb1c47de373307030954b.png"
      alt="+"
      class="image"
    />
  </div> -->
</section>
