<p-toast [life]="2000"></p-toast>

<section class="form">
  <div class="card">
    <form #form="ngForm" (ngSubmit)="add(form.value)">
      <section class="consultation-title">
        <h2 id="consultation">CВЯЗАТЬСЯ С НАМИ</h2>
      </section>
      <div class="form-group">
        <p-floatLabel>
          <input
            pInputText
            id="email"
            name="email"
            [(ngModel)]="inputEmail"
            required
          />
          <label for="email">Почта</label>
        </p-floatLabel>
      </div>

      <div class="form-group">
        <p-floatLabel>
          <input
            pInputText
            id="topic"
            name="topic"
            [(ngModel)]="inputTopic"
            required
          />
          <label for="topic">Тема</label>
        </p-floatLabel>
      </div>

      <div class="form-group">
        <p-floatLabel>
          <textarea
            id="message"
            name="message"
            [(ngModel)]="inputMessage"
            rows="5"
            cols="30"
            required
            pInputTextarea
          ></textarea>
          <label for="message" class="message-label">Сообщение:</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="sendBtn"
          role="button"
          pButton
          label="Отправить"
        ></button>
      </div>
    </form>
  </div>
</section>
