.form {
  background: url("../../../assets/images/5.png") center center no-repeat;
  background-size: cover;
  padding: 4rem 0;
  min-width: 100%;
  min-height: max-content;
}

form {
  background-color: aliceblue;
  padding: 3rem 4rem;
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
}

input,
textarea {
  width: 100%;
}

.form-group {
  margin-top: 35px;
}

button {
  width: 100%;
  margin-bottom: 0.7rem;
  background-color: #002855;
}

@media screen and (max-width: 500px) {
  form {
    padding: 1.5rem;
    min-width: 100%;
    min-height: max-content;
  }
}
