<section class="consultation-title">
  <h2 id="consultation">КОНСУЛЬТАЦИЯ</h2>
</section>

<section class="form">
  <form #form="ngForm">
    <div class="form-group">
      <label for="email" class="email-label">Почта:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="inputEmail"
        required
        email
        pInputText
      />
    </div>

    <div class="form-group">
      <label for="topic" class="topic-label">Тема:</label>
      <input
        type="text"
        id="topic"
        name="topic"
        [(ngModel)]="inputTopic"
        required
        pInputText
      />
    </div>

    <div class="form-group">
      <label for="message" class="message-label">Сообщение:</label>
      <textarea
        id="message"
        name="message"
        [(ngModel)]="inputMessage"
        required
        pInputTextarea
      ></textarea>
    </div>

    <button
      type="submit"
      (click)="add(form.value)"
      class="sendBtn"
      role="button"
      pButton
      type="button"
      label="Отправить"
    ></button>
  </form>
  <div class="image-wrapper">
    <img src="../../assets/images/asbestos.png" alt="+" class="image" />
  </div>
</section>
