.form {
  background: url("../../../assets/images/pawel-czerwinski-Qiy4hr18aGs-unsplash.jpg")
    center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}

form {
  background-color: aliceblue;
  padding: 50px 100px;
}
h2 {
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
}

.form-group {
  margin-top: 35px;
}

button {
  width: 100%;
}
