// .img {
//   height: 60px;
// }

// .delete {
//   background-color: var(--red-700);
//   color: white;
// }

// .update {
//   background-color: var(--green-700);
//   color: white;
// }

// .show {
//   background-color: var(--primary-color);
//   color: white;
// }

// .panel {
//   min-height: 70vh;
// }

.img {
  height: 45px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  max-height: 300px;
}

.btn-wrapper {
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.line-break {
  white-space: pre-line;
}
