<div class="page-wrapper">
  <div class="title-wrapper">
    <h1 *ngIf="hasAccount" class="title">АВТОРИЗАЦИЯ</h1>
    <h1 *ngIf="!hasAccount" class="title">РЕГИСТРАЦИЯ</h1>
  </div>

  <form #form="ngForm" (ngSubmit)="regOrAuth(form.value)">
    <div class="content">
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input
          type="text"
          pInputText
          ngModel
          name="login"
          placeholder="Введите логин..."
          class="input"
        />
      </p-inputGroup>

      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-key"></i>
        </p-inputGroupAddon>
        <input
          type="password"
          pInputText
          ngModel
          name="password"
          placeholder="Введите пароль..."
          class="input"
        />
      </p-inputGroup>

      <button pButton class="btn">Вход</button>

      <span (click)="toogleHasAcc()" *ngIf="hasAccount" class="registration">
        Нет аккаунта? <b>Зарегистрируйтесь!</b>
      </span>
      <span (click)="toogleHasAcc()" *ngIf="!hasAccount" class="registration">
        Есть аккаунт? <b>Авторизуйтесь!</b>
      </span>
    </div>
  </form>

  <app-spinner></app-spinner>
  <app-notification></app-notification>
</div>
