<section class="container">
  <div class="form">
    <button class="close" (click)="close()">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="content">
      <img src="{{ data.imgSrc }}" alt="Product" class="image" />
      <div class="table">
        <div class="row">
          <div class="cell">ID</div>
          <div class="cell">{{ data._id }}</div>
        </div>
        <div class="row">
          <div class="cell">Название</div>
          <div class="cell">{{ data.title }}</div>
        </div>
        <div class="row">
          <div class="cell">Описание</div>
          <div class="cell">{{ data.description }}</div>
        </div>
        <div class="row">
          <div class="cell">Оптовая цена</div>
          <div class="cell">{{ data.wholesalePrice }}</div>
        </div>
        <div class="row">
          <div class="cell">Розничная цена</div>
          <div class="cell">{{ data.retailPrice }}</div>
        </div>
        <div class="row">
          <div class="cell">Количество</div>
          <div class="cell">{{ data.count }}</div>
        </div>
        <div class="row">
          <div class="cell">Категория</div>
          <div class="cell">{{ data.category }}</div>
        </div>
        <div class="row">
          <div class="cell">Страна</div>
          <div class="cell">{{ data.country }}</div>
        </div>
        <div class="row" *ngFor="let item of data.fields">
          <div class="cell" *ngIf="item.key">{{ item.key }}</div>
          <div class="cell" *ngIf="item.value">{{ item.value }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-spinner></app-spinner>
<app-notification></app-notification>
