<div class="btn-wrapper">
  <p-button
    [outlined]="true"
    icon="pi pi-plus"
    (click)="addProduct()"
    label="Добавить новый продукт"
  ></p-button
  ><p-button
    severity="secondary"
    [outlined]="true"
    icon="pi pi-sync"
    (click)="ngOnInit()"
    label="Перезагрузить таблицу"
  ></p-button>
</div>

<p-table
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first} до {last} из {totalRecords}"
  [rowsPerPageOptions]="[10, 20, 50, 100]"
  [value]="products"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th pSortableColumn="_id">Код <p-sortIcon field="_id"></p-sortIcon></th>
      <th pSortableColumn="imgSrc">
        Фото <p-sortIcon field="imgSrc"></p-sortIcon>
      </th>
      <th pSortableColumn="title">
        Название <p-sortIcon field="title"></p-sortIcon>
      </th>
      <th pSortableColumn="wholesalePrice">
        Оптовая цена <p-sortIcon field="wholesalePrice"></p-sortIcon>
      </th>
      <th pSortableColumn="retailPrice">
        Розничная цена
        <p-sortIcon field="retailPrice"></p-sortIcon>
      </th>
      <th pSortableColumn="count">
        Количество <p-sortIcon field="count"></p-sortIcon>
      </th>
      <th pSortableColumn="category">
        Категория <p-sortIcon field="category"></p-sortIcon>
      </th>
      <th pSortableColumn="description">
        Описание <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th pSortableColumn="country">
        Страна <p-sortIcon field="country"></p-sortIcon>
      </th>
      <th pSortableColumn="fields">
        Характеристики <p-sortIcon field="fields"></p-sortIcon>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-columns="columns">
    <tr>
      <td>{{ product._id }}</td>
      <td><img src="{{ product.imgSrc }}" class="img" alt="Product" /></td>
      <td>{{ product.title }}</td>
      <td>{{ product.wholesalePrice }}</td>
      <td>{{ product.retailPrice }}</td>
      <td>{{ product.count }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.country }}</td>
      <td>
        <span *ngFor="let data of product.fields">
          <span *ngIf="data.key && data.value">
            {{ data.key }}: {{ data.value }};
          </span>
        </span>
      </td>
      <td>
        <p-toast></p-toast>
        <p-confirmPopup
          key="popup2"
          [preventDuplicates]="true"
          [preventOpenDuplicates]="true"
        ></p-confirmPopup>
        <p-button
          icon="pi pi-trash"
          severity="danger"
          (click)="confirm($event, product._id)"
        ></p-button>
      </td>
      <td>
        <p-button
          severity="help"
          icon="pi pi-pen-to-square"
          (click)="updateProduct(product)"
        ></p-button>
      </td>
      <td>
        <p-button icon="pi pi-eye" (click)="show(product)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-admin-form
  *ngIf="formService.getIsAddProduct() || formService.getIsEditProduct()"
></app-admin-form>

<app-spinner></app-spinner>
