<p-toast [life]="2000"></p-toast>

<p-confirmPopup
  key="popup2"
  [preventDuplicates]="true"
  [preventOpenDuplicates]="true"
></p-confirmPopup>

<p-table
  #dt2
  dataKey="id"
  [globalFilterFields]="[
    'title',
    'wholesalePrice',
    'retailPrice',
    'availability'
  ]"
  [loading]="loading"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first} до {last} из {totalRecords}"
  [rowsPerPageOptions]="[10, 20, 50, 100]"
  [value]="products"
  [scrollable]="true"
>
  <ng-template pTemplate="caption">
    <div class="btn-wrapper">
      <p-button
        icon="pi pi-plus"
        (click)="addProduct()"
        label="Добавить новый продукт"
      />
      <p-button
        label="Очистить фильтры"
        icon="pi pi-filter-slash"
        (click)="clear(dt2)"
      />
      <span class="p-input-icon-left ml-auto full-width">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt2.filterGlobal($event.target.value, 'contains')"
          placeholder="Поиск"
          style="width: 100%"
        />
      </span>
      <p-button
        severity="secondary"
        icon="pi pi-sync"
        (click)="ngOnInit()"
        label="Перезагрузить таблицу"
      />
    </div>
    <!--     
    <div class="flex">
      
      
    </div> -->
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th pSortableColumn="_id">Код <p-sortIcon field="_id"></p-sortIcon></th>
      <th pSortableColumn="imgSrc">
        Фото <p-sortIcon field="imgSrc"></p-sortIcon>
      </th>
      <th pSortableColumn="title">
        Название <p-sortIcon field="title"></p-sortIcon>
      </th>
      <th pSortableColumn="wholesalePrice">
        Оптовая цена <p-sortIcon field="wholesalePrice"></p-sortIcon>
      </th>
      <th pSortableColumn="retailPrice">
        Розничная цена
        <p-sortIcon field="retailPrice"></p-sortIcon>
      </th>
      <th pSortableColumn="count">
        Количество <p-sortIcon field="count"></p-sortIcon>
      </th>
      <th pSortableColumn="availability">
        Наличие <p-sortIcon field="availability"></p-sortIcon>
      </th>
      <th pSortableColumn="category">
        Категория <p-sortIcon field="category"></p-sortIcon>
      </th>
      <th pSortableColumn="description">
        Описание <p-sortIcon field="description"></p-sortIcon>
      </th>

      <th pSortableColumn="fields">
        Характеристики <p-sortIcon field="fields"></p-sortIcon>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <!-- <tr>
      <th></th>
      <th></th>
      <th>
        <p-columnFilter
          type="text"
          field="title"
          placeholder="Поиск по названию"
          ariaLabel="Filter Title"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="wholesalePrice"
          placeholder="Поиск по оптовой цене"
          ariaLabel="Filter Wholesale"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="retailPrice"
          placeholder="Поиск по розничой цене"
          ariaLabel="Filter Retail"
        />
      </th>

      <th></th>

      <th>
        <p-columnFilter type="boolean" field="availability" />
      </th>

      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->
  </ng-template>
  <ng-template pTemplate="body" let-product let-columns="columns">
    <tr>
      <td>{{ product._id }}</td>
      <td><img src="{{ product.imgSrc }}" class="img" alt="Product" /></td>
      <td>{{ product.title }}</td>
      <td>{{ product.wholesalePrice }}</td>
      <td>{{ product.retailPrice }}</td>
      <td>{{ product.count }}</td>
      <td>
        <p
          class="availability"
          *ngIf="product?.availability?.availability === 'Есть в наличии'"
        >
          +
        </p>

        <p
          class="unAvailability"
          *ngIf="product?.availability?.availability === 'Нет в наличии'"
        >
          -
        </p>
      </td>
      <td>{{ product.category.title || product.category }}</td>
      <td>{{ product.description.slice(0, 30) }}...</td>
      <!-- <td>{{ product.country.country }}</td> -->
      <td>
        <span *ngFor="let data of product.fields.slice(0, 1)">
          <span *ngIf="data.key && data.value">
            {{ data.key }}: {{ data.value }};
          </span>
        </span>
        ...
      </td>
      <td>
        <p-button
          icon="pi pi-trash"
          severity="danger"
          (click)="confirm($event, product._id)"
        ></p-button>
      </td>
      <td>
        <p-button
          severity="help"
          icon="pi pi-pen-to-square"
          (click)="updateProduct(product)"
        ></p-button>
      </td>
      <td>
        <p-button icon="pi pi-eye" (click)="show(product)"></p-button>
      </td>
      <td>
        <p-button
          [icon]="getFavoriteIcon(product._id)"
          severity="danger"
          (click)="toggleFavorite(product._id)"
        ></p-button>
      </td>
      <td>
        <p-button
          (click)="duplicateProduct(product)"
          icon="pi pi-clone"
          severity="secondary"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Header"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template pTemplate="header">
    <h1 style="margin: 0; padding: 0" class="font-bold white-space-nowrap">
      {{ current?.title }}
    </h1>
  </ng-template>
  <div class="wrapper">
    <p-fieldset legend="Фото" [toggleable]="true">
      <div class="image-wrapper">
        <img src="{{ current?.imgSrc }}" alt="" class="image" />
      </div>
    </p-fieldset>

    <p-fieldset legend="Описание" [toggleable]="true">
      <p class="line-break m-0">
        {{ current?.description }}
      </p>
    </p-fieldset>
    <p-fieldset legend="Цена" [toggleable]="true">
      <p class="m-0">Оптовая: {{ current?.wholesalePrice }}</p>
      <p class="m-0">Розничная: {{ current?.retailPrice }}</p>
    </p-fieldset>
    <!-- <p-fieldset legend="Количество" [toggleable]="true">
      <p class="m-0">
        {{ current?.count }}
      </p>
    </p-fieldset> -->
    <p-fieldset legend="Наличие" [toggleable]="true">
      <p class="m-0">
        {{ current?.availability?.availability }}
      </p>
    </p-fieldset>
    <p-fieldset legend="Категория" [toggleable]="true">
      <p class="m-0">
        {{ current?.category.title || current?.category }}
      </p>
    </p-fieldset>
    <div *ngFor="let item of current?.fields">
      <p-fieldset *ngIf="item.key" legend="{{ item.key }}" [toggleable]="true">
        <p class="m-0" *ngIf="item.value">
          {{ item.value }}
        </p>
      </p-fieldset>
    </div>
  </div>
</p-dialog>

<app-admin-form
  *ngIf="formService.getIsAddProduct() || formService.getIsEditProduct()"
></app-admin-form>

<!-- <app-spinner></app-spinner> -->
