.footer{
    margin-top: 100px;
    background-color: rgb(196, 196, 196);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    border: 4px solid;
}

.map{
    width: 400px;
    height: 300px;
}

.nav-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}