<footer class="footer">
    <div class="map-wrapper">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2565.447999397177!2d36.244889799999996!3d49.98420970000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a08c64a1a675%3A0x7fdea0fc278bdbf!2z0L_RgNC-0YHQvy4g0JPQsNCz0LDRgNC40L3QsCwgMdCwLCDQmNC30Y7QvCwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjQzMDk!5e0!3m2!1sru!2sua!4v1708049593829!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <div class="nav-wrapper">
        <a mat-button href="#" target="_blank">Регістрація</a>
        <a mat-button href="#" target="_blank">Доставка</a>
        <a mat-button href="#" target="_blank">Контакти</a>
        <a mat-button href="#" target="_blank">Товари</a>
    </div>
</footer>