<section class="top-header">
  <div class="phone-wrapper">
    <button
      pButton
      type="button"
      icon="pi pi-mobile"
      class="p-button-rounded p-button-text"
      style="color: white"
    ></button>
    <span class="phone-number">{{ phoneNumber }}</span>
  </div>
  <div class="location-wrapper">
    <button
      pButton
      type="button"
      icon="pi pi-map-marker"
      class="p-button-rounded p-button-text"
      style="color: white"
    ></button>
    <span class="location">{{ location }}</span>
  </div>
  <div class="hours-wrapper" *ngFor="let data of workingHours">
    <span class="days">{{ data.days }}</span>
    <span class="hours">{{ data.hours }}</span>
  </div>
  <div class="socials-wrapper">
    <button
      pButton
      type="button"
      icon="pi pi-phone"
      class="p-button-rounded p-button-text"
      style="color: white"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-telegram"
      class="p-button-rounded p-button-text"
      style="color: white"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-facebook"
      class="p-button-rounded p-button-text"
      style="color: white"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-instagram"
      class="p-button-rounded p-button-text"
      style="color: white"
    ></button>

    <span class="lang-switch" *ngFor="let language of languageSwitch">
      <button mat-button class="language" style="color: white">
        {{ language.ua }}
      </button>
      <button mat-button class="language" style="color: white">
        {{ language.ru }}
      </button>
    </span>
  </div>
</section>
<section class="main-header">
  <div class="logo" [routerLink]="['/']">{{ logo }}</div>
  <div class="search">
    <app-search></app-search>
  </div>
  <app-megamenu></app-megamenu>
  <div class="profile">
    <button
      pButton
      type="button"
      icon="pi pi-user"
      class="p-button-rounded p-button-text"
      *ngIf="!getAuthState()"
      (click)="showForm()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-user"
      class="p-button-rounded p-button-text"
      *ngIf="getAuthState()"
      routerLink="/profile"
    ></button>
    <div class="admin-wrapper">
      <button
        pButton
        type="button"
        icon="pi pi-wrench"
        class="p-button-rounded p-button-text"
        *ngIf="getIsAdmin()"
        [routerLink]="['/admin']"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-times-circle"
        class="p-button-rounded p-button-text"
        *ngIf="getAuthState()"
        (click)="logout()"
      ></button>
    </div>
  </div>
  <div class="messages">
    <a routerLink="/consultation">
      <button
        pButton
        type="button"
        icon="pi pi-envelope"
        class="p-button-rounded p-button-text"
      ></button>
    </a>
  </div>
  <div class="goods">
    <a routerLink="/catalogue">
      <button
        pButton
        type="button"
        icon="pi pi-shopping-bag"
        class="p-button-rounded p-button-text"
      ></button>
    </a>
  </div>

  <div class="wrapper">
    <p-sidebar
      [(visible)]="sidebarVisible"
      position="right"
      [style]="{ width: '50rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    >
      <app-cart></app-cart>
    </p-sidebar>
    <button
      pButton
      type="button"
      icon="pi pi-shopping-cart"
      class="p-button-rounded p-button-text"
      (click)="sidebarVisible = true"
    ></button>
  </div>
</section>

<app-authorization-form *ngIf="getFormState()"></app-authorization-form>

<!-- <div class="navigation-wrapper" *ngFor="let nav of navigation">
    <a href="#consultation" mat-button class="nav">КОНСУЛЬТАЦИЯ</a>
    <nav class="navigation" *ngFor="let title of nav.titles; let i = index">
      <a [routerLink]="[nav.links[i]]" mat-button class="nav">{{ title }}</a>
    </nav>
    <div class="wrapper">
      <p-sidebar
        [(visible)]="sidebarVisible"
        position="right"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      >
        <app-cart></app-cart>
      </p-sidebar>
      <img
        src="/../../../assets/cart-shopping-solid.svg"
        alt=""
        class="cart-icon"
        (click)="sidebarVisible = true"
      />
    </div>
  </div> -->

<!-- <section class="sub-header">
  <div class="search">
    <app-search></app-search>
  </div>

  <div class="auth-wrapper">
    <button mat-button class="btn" *ngIf="!getAuthState()" (click)="showForm()">
      Авторизация
    </button>
    <button
      mat-button
      class="btn"
      *ngIf="getIsAdmin()"
      [routerLink]="['/admin']"
    >
      Админ-панель
    </button>
    <button mat-button class="btn" *ngIf="getAuthState()" (click)="logout()">
      Выход
    </button>
  </div>
</section> -->
