.top-header {
  background: url("../../../assets/images/5.png");
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.top-wrapper {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.center {
  padding: 4px;
}

.left {
  display: flex;
  gap: 10px;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
}

.viber,
.telegram {
  padding: 0.1rem;
  width: 2rem;
  height: 2rem;
}

/* Main Header Section */
.main-header {
  background-color: #fff;
  color: #000000;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(234, 234, 234);
  width: 100%;
  gap: 1rem;
}

.logo {
  cursor: pointer;
  margin-left: 21px;
}

.logo-img {
  height: 40px;
}

.search {
  padding: 0;
  width: 20%;
}

.tel,
.mail {
  color: black;
  text-decoration: none;
  text-align: center;
}

.sub-header {
  display: flex;
  justify-content: flex-end;
  padding: 0.1rem 2.2rem;
}

.phone-number {
  font-weight: 700;
}
// .lang-btn {
//   margin: 10px;
// }

// .lang-btn.active {
//   background-color: bisque;
// }
/* Media Queries */
@media screen and (max-width: 1385px) {
  .right button::ng-deep .p-button-label {
    display: none;
  }
}

@media screen and (max-width: 1195px) {
  .logo-img {
    height: 32px;
  }
}

@media screen and (max-width: 1015px) {
  .contacts-wrapper {
    display: none;
  }

  .right button::ng-deep .p-button-label {
    display: flex;
  }

  .main-header {
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo-img {
    height: 30px;
    width: auto;
  }

  .search {
    padding: 0;
    width: 30%;
  }
}

@media screen and (max-width: 1014px) {
  .top-wrapper {
    margin-right: 2.5rem;
  }

  .location-wrapper,
  .hours-wrapper,
  .megamenu {
    display: none;
    visibility: hidden;
  }

  .main-header {
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .search,
  .megamenu {
    width: 100%;
    text-align: center;
  }

  .contacts-wrapper {
    display: flex;
    width: auto;
    text-align: center;
    flex-direction: row;
    gap: 10px;
  }

  .right {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .contacts-wrapper,
  .right {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {
  .top-header {
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem;
  }

  .center {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .main-header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
  }

  .logo {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  .search {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .megamenu {
    width: 100%;
    text-align: center;
  }

  .right {
    width: 100%;
    justify-content: center;
  }

  .contacts-wrapper {
    text-align: center;
  }
}
