<section class="top-header">
  <div class="top-wrapper">
    <div class="center">{{ "header.top-header" | translate }}</div>
  </div>
</section>
<section class="main-header">
  <div class="left">
    <div class="logo" [routerLink]="['/']">
      <img
        src="../../../assets/images/planet.png"
        alt="Logo"
        class="logo-img"
      />
    </div>
  </div>
  <div class="search">
    <app-search></app-search>
  </div>
  <div class="lang-btns">
    <p-toggleButton
      [onLabel]="'UA'"
      [offLabel]="'RU'"
      [style]="{ width: '5rem', padding: '5px' }"
      [(ngModel)]="isUA"
      (onChange)="switchLanguage()"
      styleClass="lang-toggler"
    ></p-toggleButton>
  </div>

  <div class="contacts-wrapper">
    <a href="tel:{{ phoneNumber }}" class="tel">
      <span class="phone-number">{{ phoneNumber }}</span>
    </a>
    <a href="mailto:{{ mail }}" class="mail"
      ><span class="email">{{ mail }}</span></a
    >
  </div>
  <div class="right">
    <a routerLink="/catalogue">
      <button
        pButton
        type="button"
        icon="pi pi-shopping-bag"
        class="p-button-rounded p-button-text"
        [label]="'header.goods' | translate"
        style="color: #000000"
        size="small"
      ></button>
    </a>
    <a routerLink="/about-us">
      <button
        pButton
        type="button"
        icon="pi pi-envelope"
        class="p-button-rounded p-button-text"
        [label]="'header.contacts' | translate"
        style="color: #000000"
        size="small"
      ></button>
    </a>
    <span
      ><button
        pButton
        type="button"
        icon="pi pi-shopping-cart"
        class="p-button-rounded p-button-text"
        (click)="sidebarVisible = true"
        [label]="'header.cart' | translate"
        style="color: #000000"
        size="small"
      ></button
    ></span>
  </div>
</section>
<section class="sub-header"></section>
<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  class="sidebar"
  [style]="{ width: '45rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  *ngIf="!isMobile"
>
  <app-cart></app-cart>
</p-sidebar>
<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  class="sidebar"
  [fullScreen]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  *ngIf="isMobile"
>
  <app-cart></app-cart>
</p-sidebar>
<app-authorization-form *ngIf="getFormState()"></app-authorization-form>
