// .card {
//   display: flex;
//   flex-direction: column;
//   gap: 1rem;
// }

.top-header {
  background-color: #002855;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.left-side {
  display: flex;
  gap: 10px;
  margin-left: 45px;
}

.admin-wrapper {
  display: flex;
  flex-direction: row;
}

/* Set the color of language switch buttons to #fff */
.hours-wrapper {
  gap: 10px;
}
.location-wrapper,
.phone-wrapper,
.socials-wrapper,
.hours-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Main Header Section */
.main-header {
  background-color: #fff;
  color: #000000;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(234, 234, 234);
  width: 100%;
  gap: 1rem;
}

// input {
//   width: 100%;
// }

.logo {
  cursor: pointer;
  margin-left: 21px;
}

.logo-img {
  height: 40px;
  // height: 100%;
}

// ---------------------------------------

.search {
  padding: 0;
  width: 100%;
}

// ----------------------------

.auth-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn {
  background-color: #fff;
  padding: 1.7rem 2.5rem;
}

.profile {
  display: flex;
}

.elements-wrapper {
  display: flex;
  justify-content: space-between;
}

.tel {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .location-wrapper,
  .hours-wrapper {
    display: none;
    visibility: hidden;
  }

  .megamenu {
    display: none;
    visibility: hidden;
  }
  .main-header {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .main-header {
    flex-wrap: wrap;
  }
  .logo {
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
  }
}
