<app-sub-header></app-sub-header>

<div class="header-wrapper">
    <header class="header">
        <div class="logoAndSearch-wrapper">
            <div class="logo">IPS</div>

            <mat-form-field class="search">
                <mat-label>Пошук товарів</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="nav-wrapper">
            <a class="nav-link" mat-button href="#" target="_blank">Регістрація</a>
            <a class="nav-link" mat-button href="#" target="_blank">Доставка</a>
            <a class="nav-link" mat-button href="#" target="_blank">Контакти</a>
            <a class="nav-link" mat-button href="#" target="_blank">Товари</a>
            
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>menu</mat-icon>
            </button>
    
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
    
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
        </div>

    </header>
</div>