<div class="carousel-wrapper">
  <p-carousel
    [value]="products"
    [numVisible]="2"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
  >
    <ng-template let-product pTemplate="item">
      <div
        class="border-1 surface-border border-round m-2 text-center py-5 px-3"
        style="position: relative"
      >
        <div class="wrapper">
          <img src="{{ product.src }}" class="w-6 shadow-2 carousel-img" />
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <div class="text">ИНТЕР-ПЛАСТ СЕРВИС</div>
</div>
