<div class="container">
  <form #form="ngForm" class="modal-window">
    <div class="close-wrapper">
      <button (click)="closeWindow()" class="close">✖</button>
    </div>

    <div class="title">{{ "call-us.title" | translate }}</div>

    <div class="description">
      <div>{{ "call-us.description-first" | translate }}</div>
      <div>{{ "call-us.description-second" | translate }}</div>
    </div>

    <div class="name-wrapper">
      <label for="nameInput" class="inp">
        <input
          name="name"
          ngModel
          [(ngModel)]="inputName"
          type="text"
          id="inp"
          placeholder="&nbsp;"
        />
        <span class="label">{{ "call-us.name" | translate }}</span>
      </label>
    </div>

    <div class="tel-wrapper">
      <label for="phoneInput" class="inp">
        <input
          appFixedPhoneNumberFormatInput
          autocomplete="off"
          maxlength="19"
          name="phone"
          ngModel
          type="text"
          id="inp"
          placeholder="&nbsp;"
        />
        <span class="label">{{ "call-us.phone" | translate }}</span>
      </label>
    </div>

    <button
      (click)="addUser(form.value)"
      [disabled]="!isValidData()"
      [class.disabled]="!isValidData()"
      class="sendBtn"
      role="button"
    >
      {{ "call-us.send-btn" | translate }}
    </button>
  </form>
</div>
