$primary: rgb(22, 117, 134);
$secondary: #2ecbe7;
$white: #fff;
$gray: #9b9b9b;

$dark: #000;

.container{
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.3);
  margin: 0;
}

.modal-window{
    border: 1px solid rgba(0, 0, 0, 0.414);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: white;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    font-size: 30px;
}

.description{
    margin-top: 30px;
    width: 450px;
    font-size: 20px;
}

.tel-wrapper, .name-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tel-wrapper{
    margin-bottom: 20px;
}

.inp{
  position: relative;
  margin: auto;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;

  .label{
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 1.3rem;
    color: rgba($dark,.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
  }

  input{
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 1.3rem;
    font-weight: 400;
    box-shadow: inset 0 -1px 0 rgba($dark,.3);
    color: $gray;
    transition: all .15s ease;

    &:hover{
      box-shadow: inset 0 -1px 0 rgba($dark,.5);
    }
    
    &:not(:placeholder-shown){
      + .label{
        color: rgba($dark,.5);
        transform: translate3d(0,-12px,0) scale(.75);
      }
    }
    
    &:focus{
      outline: none;
      box-shadow: inset 0 -2px 0 $primary;
      + .label{
        color: $primary;
        transform: translate3d(0,-12px,0) scale(.75);
        + .focus-bg{
          transform: scaleX(1);
          transition: all .1s ease;
        }
      }
    }
  }
}


.close-wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
}

.close{
    position: fixed;
    top: 48px;
    right: 40px;
    user-select: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
}

.close:hover{
    background-color: rgba(128, 128, 128, 0.22);
}

.sendBtn {
  margin-top: 5px;
  margin-bottom: 20px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(96, 96, 96, 0.4) 0 2px 4px,rgba(60, 60, 60, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  color: black;
  font-weight: 600;
}

// .sendBtn:focus {
//   box-shadow: rgba(22, 117, 134, 0.4) 0 2px 4px,rgba(18, 96, 110, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
// }

// .sendBtn:hover {
//   box-shadow: rgba(22, 117, 134, 0.4) 0 2px 4px,rgba(18, 96, 110, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
//   transform: translateY(-2px);
// }

.sendBtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.disabled {
    pointer-events: none;
    opacity: 0.5; 
    cursor: not-allowed; 
  }