.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #167586;
  --mat-tab-header-active-label-text-color: black;
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: #000;
  --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-ripple-color: #167586;
  --mat-tab-header-inactive-ripple-color: #167586;
  --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-focus-label-text-color: #167586;
  --mat-tab-header-active-hover-label-text-color: #167586;
  --mat-tab-header-active-focus-indicator-color: #167586;
  --mat-tab-header-active-hover-indicator-color: #167586;
}

.btn-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img {
  height: 60px;
}

.delete {
  background-color: rgb(105, 54, 54);
  color: white;
}

.update {
  background-color: rgb(54, 105, 71);
  color: white;
}

.panel {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  box-sizing: border-box;
}
