<section *ngIf="getRole()" class="panel">
  <mat-tab-group>
    <mat-tab label="Продукты">
      <app-product-table></app-product-table>
    </mat-tab>

    <mat-tab label="Категории">
      <div class="btn-wrapper">
        <button (click)="addCategory()" mat-stroked-button>
          Добавить категорию
        </button>
      </div>

      <app-category-table></app-category-table>
    </mat-tab>

    <mat-tab label="Запросы на звонок">
      <app-call-request-table></app-call-request-table>
    </mat-tab>
  </mat-tab-group>
</section>
