<section *ngIf="getRole()" class="panel">
  <p-tabView [scrollable]="true">
    <p-tabPanel header="Продукты">
      <app-product-table></app-product-table>
    </p-tabPanel>

    <p-tabPanel header="Категории">
      <div class="btn-wrapper">
        <button (click)="addCategory()" mat-stroked-button>
          Добавить категорию
        </button>
      </div>

      <app-category-table></app-category-table>
    </p-tabPanel>

    <p-tabPanel header="Запросы на звонок">
      <app-call-request-table></app-call-request-table>
    </p-tabPanel>

    <p-tabPanel header="Консультация">
      <app-consultation-table></app-consultation-table>
    </p-tabPanel>
  </p-tabView>
</section>
