<div class="card">
  <p-table
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} до {last} из {totalRecords}"
    [rowsPerPageOptions]="[10, 20, 50, 100]"
    [value]="callRequests"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Код</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-callRequest let-columns="columns">
      <tr>
        <td>{{ callRequest._id }}</td>
        <td>{{ callRequest.name }}</td>
        <td>{{ callRequest.phone }}</td>
        <td>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            (click)="deleteCallRequest(callRequest._id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
