.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  gap: 3rem;
  padding: 3rem;
}

.title {
  margin-top: 4rem;
  color: var(--primary-color);
  font-size: 8rem;
  font-weight: 600;
}

.subtitle {
  font-size: 1.3rem;
}

.image {
  width: 20%;
}

@media screen and (max-width: 1600px) {
  .image {
    width: 30%;
  }
}

@media screen and (max-width: 1400px) {
  .title {
    font-size: 7rem;
  }

  .image {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 6rem;
  }

  .image {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .image {
    width: 50%;
  }
}
