<div class="productCarousel-wrapper">
    <c-carousel class="productCarousel" [interval]="0" [dark]="true">
        <c-carousel-inner class="carousel-inner">
          <c-carousel-item class="productCarousel">
            <div *ngFor="let id of slidesID">
                <div class="img-wrapper">
                    <a 
                    class="category-link"
                    [routerLink]="['/category', categories[id]._id]"
                    >
                      <img
                        [src]="categories[id].imgSrc"
                        alt="{{categories[id].title}}"
                        class="product d-block"
                        loading="lazy"
                      />
                    </a>
                    <!-- <div class="title">{{slides[id].title}}</div> -->
                </div>
            </div>
          </c-carousel-item>
        </c-carousel-inner>
                        
        <c-carousel-control (click)="reduceId()" [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control (click)="increaseId()" [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel>
  </div>
  
  