<div class="productCarousel-wrapper">
    <c-carousel class="productCarousel" [interval]="0">
        <c-carousel-inner>
          <c-carousel-item class="productCarousel">
            <div *ngFor="let id of slidesID">
                <div class="img-wrapper">
                    <a>
                      <img
                        [src]="slides[id].src"
                        alt="{{slides[id].title}}"
                        class="product d-block"
                        loading="lazy"
                      />
                    </a>
                    <!-- <div class="title">{{slides[id].title}}</div> -->
                </div>
            </div>
          </c-carousel-item>
        </c-carousel-inner>
                        
        <c-carousel-control (click)="reduceId()" [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control (click)="increaseId()" [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel>
  </div>
  
  