.productCarousel{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category{
    width: 80%;
    height: 80%;
}