.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.splitter {
  min-width: 100% !important;
}

.split {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.info {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  line-height: normal;
}

.price-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.retail,
.wholesale {
  padding-top: 1rem;
  width: 100%;
}

.retail {
  padding-left: 1rem;
}

.wholesale {
  border-right: 1px solid rgb(228, 228, 228);
}

.price-title {
  color: rgb(138, 138, 138);
}

.price {
  font-size: 3rem;
  line-height: normal;
}

.row,
.row_c > div {
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid rgb(228, 228, 228);
}

.row:last-child,
.row_c:last-child > div {
  border: none;
}

.cell:first-child {
  font-weight: 600;
}

.cell {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
  width: 100%;
}
.table {
  margin-bottom: 0;
  padding-bottom: 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.product {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 0.5rem;
  padding: 10px;
  transition: transform 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
}

.p-img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.p-title {
  margin-top: 1.3rem;
  font-size: 1rem;
}

.p-price {
  font-size: 1.5rem;
}

.button {
  margin-top: 1rem;
}

.line-break {
  white-space: pre-line;
}

@media screen and (max-width: 5000px) {
}

@media screen and (max-width: 1400px) {
  .price {
    font-size: 2rem;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .price {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
}
