<div class="container">
  <div class="image-wrapper">
    <img src="{{ product.imgSrc }}" alt="Product image" class="image" />
  </div>

  <div class="main-info">
    <h1 class="title">{{ product.title }}</h1>

    <div class="price-wrapper">
      <div class="wholesale">
        <p class="price-title">Оптовая цена</p>

        <p class="price">
          {{ product.wholesalePrice }}
        </p>
      </div>

      <div class="retail">
        <p class="price-title">Розничная цена</p>

        <p class="price">
          {{ product.retailPrice }}
        </p>
      </div>
    </div>

    <button mat-stroked-button class="button">Купить</button>
  </div>

  <div class="description">
    <h1>Описание</h1>

    <p class="text">{{ product.description }}</p>
  </div>

  <div class="characteristics">
    <h1>Характеристики</h1>

    <div class="table">
      <div class="row">
        <div class="cell">Категория</div>
        <div class="cell">{{ product.category }}</div>
      </div>
      <div class="row">
        <div class="cell">Количество</div>
        <div class="cell">{{ product.count }}</div>
      </div>
      <div class="row">
        <div class="cell">Страна</div>
        <div class="cell">{{ product.country }}</div>
      </div>
      <div class="row" *ngFor="let item of product.fields">
        <div class="cell" *ngIf="item.key">{{ item.key }}</div>
        <div class="cell" *ngIf="item.value">{{ item.value }}</div>
      </div>
    </div>
  </div>
</div>

<app-spinner></app-spinner>
