<p-toast [life]="2000"></p-toast>

<div class="card">
  <div class="container">
    <p-breadcrumb
      class="max-w-full"
      [model]="items"
      [home]="home"
    ></p-breadcrumb>

    <p-splitter class="splitter">
      <ng-template pTemplate>
        <div class="split">
          <p-image
            [preview]="true"
            width="100%"
            [src]="product?.imgSrc"
            alt="Product Image"
          />
        </div>
      </ng-template>

      <ng-template pTemplate>
        <div class="split info">
          <h1 *ngIf="selectedLang === 'ru'" class="title">
            {{ product?.title }}
          </h1>
          <h1 *ngIf="selectedLang === 'ua'" class="title">
            {{ product?.productUA?.title }}
          </h1>
          <!-- <p class="availability" *ngIf="product?.count > 0">Есть в наличии</p>

          <p class="unAvailability" *ngIf="product?.count < 1">Нет в наличии</p> -->
          <p
            class="availability"
            *ngIf="product?.availability?.availability === 'Есть в наличии'"
          >
            {{ "product.available" | translate }}
          </p>

          <p
            class="unAvailability"
            *ngIf="product?.availability?.availability === 'Нет в наличии'"
          >
            {{ "product.unavailable" | translate }}
          </p>

          <div class="price-wrapper">
            <div class="retail">
              <p class="price-title">{{ "product.price" | translate }}</p>

              <p class="price">
                {{ product?.retailPrice }}
              </p>
            </div>

            <div class="wholesale">
              <p-panel
                [header]="'product.wholesale-price' | translate"
                [toggleable]="true"
                [collapsed]="true"
              >
                <p class="price-wholesale">
                  {{ product?.wholesalePrice }}
                </p>
              </p-panel>
            </div>
          </div>

          <p-button
            [label]="'product.to-cart' | translate"
            icon="pi pi-shopping-cart"
            iconPos="right"
            (click)="addToCart(product)"
            class="button"
          ></p-button>
        </div>
      </ng-template>
    </p-splitter>

    <p-panel
      *ngIf="selectedLang === 'ru'"
      [header]="'product.description' | translate"
      [toggleable]="true"
    >
      <p class="line-break">
        {{ product?.description }}
      </p>
    </p-panel>
    <p-panel
      *ngIf="selectedLang === 'ua'"
      [header]="'product.description' | translate"
      [toggleable]="true"
    >
      <p class="line-break">
        {{ product?.productUA?.description }}
      </p>
    </p-panel>

    <p-panel
      [header]="'product.specifications' | translate"
      [toggleable]="true"
    >
      <div class="table">
        <div class="row">
          <div class="cell">Категория</div>
          <div *ngIf="selectedLang === 'ru'" class="cell">
            {{ product?.category.title }}
          </div>
          <div *ngIf="selectedLang === 'ua'" class="cell">
            {{ product?.category.categoryUA?.title }}
          </div>
        </div>

        <div *ngIf="selectedLang === 'ru'">
          <div class="row_c" *ngFor="let item of product?.fields">
            <div *ngIf="item.key && item.value">
              <div class="cell" *ngIf="item.key">{{ item.key }}</div>
              <div class="cell" *ngIf="item.value">{{ item.value }}</div>
            </div>
          </div>
        </div>

        <div *ngIf="selectedLang === 'ua'">
          <div class="row_c" *ngFor="let item of product?.productUA?.fields">
            <div *ngIf="item.key && item.value">
              <div class="cell" *ngIf="item.key">{{ item.key }}</div>
              <div class="cell" *ngIf="item.value">{{ item.value }}</div>
            </div>
          </div>
        </div>
      </div>
    </p-panel>

    <div class="similar">
      <h1>{{ "product.related" | translate }}</h1>

      <div class="products">
        <div
          class="product"
          *ngFor="let p of products"
          [routerLink]="['/products', p._id]"
        >
          <img [src]="p.imgSrc" alt="Product Image" class="p-img" />
          <h1 class="p-title">{{ p.title }}</h1>
          <p class="p-price">{{ p.retailPrice }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-spinner></app-spinner>
