<!-- PRODUCT FORM -->

<div class="container">
  <form
    enctype="multipart/form-data"
    *ngIf="formService.getIsAddProduct() || formService.getIsEditProduct()"
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
    class="form"
  >
    <div class="close-wrapper">
      <button (click)="formService.hideForm()" class="close">✖</button>
    </div>
    <div class="content">
      <h1 class="title">{{ formService.getFormTitle() }}</h1>

      <mat-form-field class="field">
        <mat-label>Название</mat-label>
        <input
          required
          matInput
          formControlName="title"
          placeholder="{{ product ? product.title : 'Название' }}"
        />
        <mat-error *ngIf="productForm.get('title').hasError('required')"
          >Требуется Название</mat-error
        >
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Описание</mat-label>
        <input
          required
          matInput
          formControlName="description"
          placeholder="{{ product ? product.description : 'Описание' }}"
        />
        <mat-error *ngIf="productForm.get('description').hasError('required')"
          >Требуется Описание</mat-error
        ></mat-form-field
      >
      <mat-form-field class="field">
        <mat-label>{{ product ? product.country : "Страна" }}</mat-label>
        <mat-select formControlName="country" required>
          @for (country of formService.getAllCountries(); track country) {
          <mat-option [value]="country">{{ country }}</mat-option
          >}
        </mat-select>
        <mat-error *ngIf="productForm.get('country').hasError('required')"
          >Требуется Страна</mat-error
        ></mat-form-field
      >

      <mat-form-field class="field">
        <mat-label>Розничная цена</mat-label>
        <input
          required
          matInput
          formControlName="wholesalePrice"
          placeholder="{{
            product ? product.wholesalePrice : 'Розничная цена'
          }}"
        />
        <mat-error
          *ngIf="productForm.get('wholesalePrice').hasError('required')"
          >Требуется Розничная цена</mat-error
        ></mat-form-field
      >

      <mat-form-field class="field">
        <mat-label>Кол-во</mat-label>
        <input
          required
          matInput
          formControlName="count"
          placeholder="{{ product ? product.count : 'Кол-во' }}"
        />
        <mat-error *ngIf="productForm.get('count').hasError('required')"
          >Требуется кол-во</mat-error
        ></mat-form-field
      >

      <mat-form-field class="field">
        <mat-label>{{ product ? product.category : "Категория" }}</mat-label>
        <mat-select formControlName="category" required>
          @for (category of categories; track category) {
          <mat-option [value]="category.title">{{ category.title }}</mat-option
          >}
        </mat-select>
        <mat-error *ngIf="productForm.get('category').hasError('required')"
          >Требуется категория</mat-error
        ></mat-form-field
      >

      <mat-form-field class="field">
        <mat-label>Оптовая цена</mat-label>
        <input
          matInput
          formControlName="retailPrice"
          placeholder="{{ product ? product.retailPrice : 'Оптовая цена' }}"
        />
        <mat-error *ngIf="productForm.get('retailPrice').hasError('required')"
          >Требуется Оптовая Цена</mat-error
        ></mat-form-field
      >
      <div class="field">
        <input
          (change)="onFileSelected($event)"
          accept="image/*"
          type="file"
          formControlName="imgSrc"
        />
        <mat-error *ngIf="productForm.get('imgSrc').hasError('required')"
          >Требуется изображение</mat-error
        >
      </div>
      <div
        class="fields-input-wrapper"
        *ngFor="let field of productForm.get('fields').controls"
        [formGroup]="field"
      >
        <mat-form-field>
          <input matInput formControlName="key" placeholder="Ключ" />
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="value" placeholder="Значение" />
        </mat-form-field>
      </div>
      <button class="add-field" type="button" (click)="addField()">+</button>

      <button class="btn" mat-raised-button type="submit">Принять</button>
    </div>
  </form>

  <!-- CATEGORY FORM -->
  <form
    *ngIf="formService.getIsAddCategory() || formService.getIsUpdateCategory()"
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
    class="form"
  >
    <div class="close-wrapper">
      <button (click)="formService.hideForm()" class="close">✖</button>
    </div>
    <div class="content">
      <h1 class="title">{{ formService.getFormTitle() }}</h1>

      <mat-form-field class="field">
        <mat-label>{{ category ? category.title : "Категория" }}</mat-label>
        <input
          *ngIf="formService.getIsAddCategory()"
          matInput
          formControlName="title"
          placeholder="Название"
        />
        <mat-select
          *ngIf="formService.getIsUpdateCategory()"
          formControlName="title"
          required
        >
          @for (category of categories; track category) {
          <mat-option [value]="category.title">{{ category.title }}</mat-option
          >}
        </mat-select>

        <mat-error *ngIf="productForm.get('title').hasError('required')"
          >Требуется Название</mat-error
        >
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Описание</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="{{ category ? category.description : 'Описание' }}"
        />
        <mat-error *ngIf="productForm.get('description').hasError('required')"
          >Требуется Описание</mat-error
        ></mat-form-field
      >

      <div class="field">
        <input
          (change)="onFileSelected($event)"
          accept="image/*"
          type="file"
          formControlName="imgSrc"
        />
        <mat-error *ngIf="productForm.get('imgSrc').hasError('required')"
          >Требуется изображение</mat-error
        >
      </div>

      <button class="btn" mat-raised-button type="submit">Принять</button>
    </div>
  </form>
</div>
