<div *ngIf="products.length > 0" class="container">
  <div class="cart">
    <h2 class="sidebar-title">Ваш заказ</h2>
    <p-dataView #dv [value]="products">
      <ng-template pTemplate="list" let-products>
        <div class="product-list">
          <div
            *ngFor="let item of getProducts(); let first = first"
            class="product-item"
          >
            <div class="product-details">
              <div class="left-side">
                <img
                  class="product-image"
                  [src]="item.product.imgSrc"
                  [alt]="item.product.title"
                />
                <div class="title">
                  <div class="product-title">{{ item.product.title }}</div>
                  <div class="product-category">
                    {{ item.product.category.title }}
                  </div>
                  <div class="product-price">
                    {{ item.product.wholesalePrice }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="checkout">
          <span class="total-price-text">Сумма</span>
          <span class="total-price">{{ cartTotalPrice }} грн</span>
        </div>
      </ng-template>
    </p-dataView>
  </div>
  <app-ordering-form></app-ordering-form>
</div>

<div *ngIf="products.length <= 0 && getOrderId()" class="order-container">
  <div class="succes-order-wrapper">
    <span class="order-span">Ваше замовлення успішно оформленно</span>
    <p class="order-p">Номер вашого замовлення №{{ getOrderId() }}</p>
  </div>
</div>
<div *ngIf="!getOrderId() && products.length <= 0" class="order-container">
  <div>
    <span class="order-span">Ваш кошик порожній.</span>
    <p class="order-p">Зробіть замовлення</p>
  </div>
</div>
