<section class="top-header">
  <div class="phone-wrapper">
    <img src="#" alt="#" class="phone-icon" />
    <span class="phone-number">{{ phoneNumber }}</span>
  </div>
  <div class="location-wrapper">
    <img src="#" alt="#" class="pin-icon" />
    <span class="location">{{ location }}</span>
  </div>
  <div class="hours-wrapper">
    <span class="days">{{ workingHours.days }}</span>
    <span class="hours">{{ workingHours.hours }}</span>
  </div>
  <div class="socials-wrapper">
    <img src="../../assets/viber.svg" alt="" class="viber" />
    <img src="" alt="" class="telegram" />
    <img src="" alt="" class="facebook" />
    <img src="" alt="" class="instagram" />
    <span class="lang-switch">RU | UA</span>
  </div>
</section>
<section class="main-header">
  <div class="logo">ИНТЕР-ПЛАСТ СЕРВИС</div>
  <nav class="navigation">
    <a href="#">РЕГИСТРАЦИЯ</a>
    <a href="#">ДОСТАВКА</a>
    <a href="#">КОНТАКТЫ</a>
    <a href="#">ТОВАРЫ</a>
  </nav>
  <img src="#" alt="" class="cart-icon" />
</section>
<section class="sub-header">
  <div class="search-wrapper">
    <input type="text" class="input" />
    <img src="#" alt="" class="search-icon" />
  </div>
  <div class="consult-wrapper">
    <img src="#" alt="" class="chat-icon" />
    <button class="consult">КОНСУЛЬТАТЦИЯ</button>
  </div>
</section>
