<div class="card catalogue">
  <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>

  <section *ngIf="categories && categories.length > 0" class="catalogue">
    <div class="grid-container">
      <div
        pRipple
        *ngFor="let category of categories"
        class="category styled-box"
        [routerLink]="['/category', category._id]"
      >
        <img [src]="category.imgSrc" alt="Category Image" class="img" />
        <div class="text">
          {{ category.title }}
        </div>
      </div>
    </div>
  </section>
</div>

<app-spinner></app-spinner>
