<div class="container">
  <section *ngIf="categories && categories.length > 0" class="catalogue">
    <div class="top-section">
      <h2 class="catalogue-title">Каталог товаров</h2>

      <mat-form-field class="sort-select">
        <mat-label>Sort products</mat-label>
        <mat-select (selectionChange)="sortCategories($event.value)">
          <mat-option value="A-Z">A-Z</mat-option>
          <mat-option value="Z-A">Z-A</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="grid-container">
      <div
        *ngFor="let category of categories"
        class="card"
        [routerLink]="['/category', category._id]"
      >
        <h3 class="title">
          {{ category.title }}
        </h3>
        <img [src]="category.imgSrc" alt="Category Image" />
      </div>
    </div>
  </section>
</div>

