<div class="container" @fadeIn>
  <form
    *ngIf="!isOrderSucces"
    enctype="multipart/form-data"
    [formGroup]="orderForm"
    (ngSubmit)="onSubmit()"
    class="form"
  >
    <div class="content">
      <h1 class="title">{{ orderFormService.getFormTitle() }}</h1>

      <div class="field">
        <p-inputGroupAddon class="label">ФИО</p-inputGroupAddon>
        <input
          class="input"
          required
          pInputText
          formControlName="nameAndLastName"
          placeholder="ФИО"
        />
      </div>

      <div class="field">
        <p-inputGroupAddon class="label">Номер телефона</p-inputGroupAddon>
        <input
          autocomplete="off"
          maxlength="19"
          class="input"
          required
          pInputText
          id="phoneNumber"
          formControlName="phoneNumber"
          placeholder="&nbsp;"
        />
      </div>

      <div class="field">
        <p-inputGroupAddon class="label">Електронная почта</p-inputGroupAddon>
        <input
          type="email"
          class="input"
          pInputText
          formControlName="email"
          placeholder="example&#64;gmail.com"
        />
      </div>
    </div>
    <div
      *ngIf="
        orderForm.get('email').valid &&
        orderForm.get('phoneNumber').valid &&
        orderForm.get('nameAndLastName').valid
      "
      class="content"
      @fadeIn
    >
      <h1 class="title">Доставка</h1>
      <div class="field">
        <p-inputGroupAddon class="label">Город</p-inputGroupAddon>

        <p-dropdown
          panelStyleClass="input-panel"
          class="input"
          formControlName="city"
          [filter]="true"
          filterBy="CityDescription"
          [options]="cities"
          optionLabel="CityDescription"
          placeholder="Выберите город"
          [virtualScroll]="true"
          [virtualScrollItemSize]="38"
          (ngModelChange)="onCityChange($event)"
        ></p-dropdown>
      </div>

      <div *ngIf="filteredOffices.length !== 0" class="field">
        <p-inputGroupAddon class="label">Способ Доставки</p-inputGroupAddon>
        <p-dropdown
          panelStyleClass="input-panel"
          required
          class="input"
          formControlName="typeOfDelivery"
          [options]="typeOfDelivery"
          optionLabel="type"
          placeholder="Выберите Способ Доставки"
          (ngModelChange)="onTypeOfDeliveryChange($event)"
        ></p-dropdown>
      </div>

      <div class="field">
        <p-inputGroupAddon class="label" *ngIf="isDeliveryOnPost"
          >Отделение Почты</p-inputGroupAddon
        >
        <p-dropdown
          panelStyleClass="input-panel"
          class="input"
          *ngIf="isDeliveryOnPost"
          formControlName="deliveryAddress"
          [filter]="true"
          filterBy="Description"
          [options]="filteredOffices"
          [virtualScroll]="true"
          [virtualScrollItemSize]="38"
          optionLabel="Description"
          placeholder="Выберите отделение"
        ></p-dropdown>

        <p-inputGroupAddon class="label" *ngIf="isDeliveryAddress"
          >Адрес доставки</p-inputGroupAddon
        >
        <input
          class="input"
          *ngIf="isDeliveryAddress"
          required
          pInputText
          formControlName="deliveryAddress"
          placeholder="Адрес доставки"
        />
      </div>
      <button class="add-message" type="button" (click)="toggleMessage()">
        {{ !isMessage ? "Добавить комантарий к заказу" : "X" }}
      </button>
      <div *ngIf="isMessage" class="field">
        <textarea
          class="input"
          [autoResize]="true"
          pInputTextarea
          formControlName="message"
          placeholder="сообщение..."
        ></textarea>
      </div>

      <p-button
        [ngClass]="{ 'no-border': orderForm.invalid }"
        [disabled]="orderForm.invalid"
        class="btn"
        label="Принять"
        type="submit"
      ></p-button>
    </div>
  </form>
</div>
