<div class="container" @fadeIn>
  <form
    *ngIf="!isOrderSucces"
    enctype="multipart/form-data"
    [formGroup]="orderForm"
    (ngSubmit)="onSubmit()"
    class="form"
  >
    <div class="content">
      <h1 class="title">{{ "order.formTitle" | translate }}</h1>

      <div class="field">
        <p-inputGroupAddon class="label">{{
          "order.nameLabel" | translate
        }}</p-inputGroupAddon>
        <input
          class="input"
          required
          pInputText
          formControlName="nameAndLastName"
          [placeholder]="'order.namePlaceholder' | translate"
        />
      </div>

      <div class="field">
        <p-inputGroupAddon class="label">{{
          "order.phoneLabel" | translate
        }}</p-inputGroupAddon>
        <input
          autocomplete="off"
          maxlength="19"
          class="input"
          required
          pInputText
          id="phoneNumber"
          formControlName="phoneNumber"
          placeholder="&nbsp;"
        />
      </div>

      <div class="field">
        <p-inputGroupAddon class="label">{{
          "order.emailLabel" | translate
        }}</p-inputGroupAddon>
        <input
          type="email"
          class="input"
          pInputText
          formControlName="email"
          placeholder="{{ 'order.emailPlaceholder' | translate }}"
        />
      </div>
    </div>

    <div
      *ngIf="
        orderForm.get('email').valid &&
        orderForm.get('phoneNumber').valid &&
        orderForm.get('nameAndLastName').valid
      "
      class="content"
      @fadeIn
    >
      <h1 class="title">{{ "order.deliveryTitle" | translate }}</h1>

      <div class="field">
        <p-inputGroupAddon class="label">{{
          "order.cityLabel" | translate
        }}</p-inputGroupAddon>
        <p-dropdown
          panelStyleClass="input-panel"
          class="input"
          formControlName="city"
          [filter]="true"
          filterBy="CityDescription"
          [options]="cities"
          optionLabel="CityDescription"
          placeholder="{{ 'order.cityPlaceholder' | translate }}"
          [virtualScroll]="true"
          [virtualScrollItemSize]="38"
          (ngModelChange)="onCityChange($event)"
        ></p-dropdown>
      </div>

      <div *ngIf="filteredOffices.length !== 0" class="field">
        <p-inputGroupAddon class="label">{{
          "order.deliveryMethodLabel" | translate
        }}</p-inputGroupAddon>
        <p-dropdown
          panelStyleClass="input-panel"
          required
          class="input"
          formControlName="typeOfDelivery"
          [options]="typeOfDelivery"
          optionLabel="type"
          placeholder="{{ 'order.deliveryMethodPlaceholder' | translate }}"
          (ngModelChange)="onTypeOfDeliveryChange($event)"
        ></p-dropdown>
      </div>

      <div class="field">
        <p-inputGroupAddon class="label" *ngIf="isDeliveryOnPost">
          {{ "order.postOfficeLabel" | translate }}
        </p-inputGroupAddon>
        <p-dropdown
          panelStyleClass="input-panel"
          class="input"
          *ngIf="isDeliveryOnPost"
          formControlName="deliveryAddress"
          [filter]="true"
          filterBy="Description"
          [options]="filteredOffices"
          [virtualScroll]="true"
          [virtualScrollItemSize]="38"
          optionLabel="Description"
          placeholder="{{ 'order.postOfficePlaceholder' | translate }}"
        ></p-dropdown>

        <p-inputGroupAddon class="label" *ngIf="isDeliveryAddress">
          {{ "order.deliveryAddressLabel" | translate }}
        </p-inputGroupAddon>
        <input
          class="input"
          *ngIf="isDeliveryAddress"
          required
          pInputText
          formControlName="deliveryAddress"
          placeholder="{{ 'order.deliveryAddressPlaceholder' | translate }}"
        />
      </div>

      <button class="add-message" type="button" (click)="toggleMessage()">
        {{ !isMessage ? ("order.addMessage" | translate) : "X" }}
      </button>

      <div *ngIf="isMessage" class="field">
        <textarea
          class="input"
          [autoResize]="true"
          pInputTextarea
          formControlName="message"
          placeholder="{{ 'order.messagePlaceholder' | translate }}"
        ></textarea>
      </div>

      <p-button
        [ngClass]="{ 'no-border': orderForm.invalid }"
        [disabled]="orderForm.invalid"
        class="btn"
        label="{{ 'order.submitButton' | translate }}"
        type="submit"
      ></p-button>
    </div>
  </form>
</div>
