.add-message {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  align-items: stretch;

  flex-direction: column;
}

.input {
  min-width: 500px;
  width: 500px;

  word-wrap: break-word;
}

.form {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 1rem;

  border: 3px solid rgba(79, 74, 237, 0.197);
  border-radius: 1rem;
  margin: 2rem;
  width: 70%;
}

.field {
  margin-bottom: 1rem;
  display: flex;
}

.label {
  flex: 0 0 20%;
  text-align: right;
  margin-right: 0.5rem;
}

.add-message,
.btn {
  width: 100%;
  margin-top: 1rem;
}

.no-border {
  display: none;
}
::ng-deep .input-panel {
  width: 700px;
}

::ng-deep .p-dropdown {
  width: 100%;
  max-width: 300px;
}

::ng-deep .p-dropdown-panel {
  max-height: 200px;
  overflow-y: auto;
}

@media (max-width: 1000px) {
  .input {
    width: 100%;
    min-width: auto;
  }

  ::ng-deep .input-panel {
    width: 90%;
  }

  ::ng-deep .p-dropdown {
    width: 100%;
    min-width: auto;
  }
}

@media (max-width: 576px) {
  .input {
    width: 100%;
    min-width: auto;
  }

  .label {
    flex: 0 0 25%;
  }

  ::ng-deep .input-panel {
    width: 85%;
  }

  ::ng-deep .p-dropdown {
    width: 100%;
    min-width: auto;
  }

  .content {
    padding: 1rem;

    border: 3px solid rgba(79, 74, 237, 0.197);
    border-radius: 0;
    margin: 0.1rem;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .input {
    width: 90%;
    min-width: auto;
  }

  ::ng-deep .input-panel {
    width: 80%;
  }

  ::ng-deep .p-dropdown {
    width: 90%;
    min-width: auto;
  }
}
