<p-toast [life]="2000"></p-toast>

<p-confirmPopup key="popup3"></p-confirmPopup>

<div class="btn-wrapper">
  <p-button
    severity="secondary"
    [outlined]="true"
    icon="pi pi-sync"
    (click)="ngOnInit()"
    label="Перезагрузить таблицу"
  ></p-button>
</div>

<p-table
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first} до {last} из {totalRecords}"
  [rowsPerPageOptions]="[10, 20, 50, 100]"
  [value]="orders"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th pSortableColumn="_id">Код <p-sortIcon field="_id"></p-sortIcon></th>
      <th pSortableColumn="email">
        Почта <p-sortIcon field="email"></p-sortIcon>
      </th>
      <!-- <th pSortableColumn="topic">
        Тема <p-sortIcon field="topic"></p-sortIcon>
      </th>
      <th pSortableColumn="message">
        Сообщение <p-sortIcon field="message"></p-sortIcon>
      </th> -->
      <th pSortableColumn="status">
        Статус <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order let-columns="columns">
    <tr>
      <td>{{ order._id }}</td>
      <td>{{ order.email }}</td>
      <td>{{ order.status }}</td>
      <!-- <td>{{ order.topic }}</td>
      <td>{{ order.message }}</td> -->
      <td class="table">
        <p-dropdown
          [options]="statusOptions"
          [(ngModel)]="order.status"
        ></p-dropdown>
      </td>
      <td>
        <p-button
          icon="pi pi-pen-to-square "
          severity="help"
          (click)="changeStatus(order)"
        ></p-button>
      </td>
      <td>
        <p-button
          icon="pi pi-trash"
          severity="danger"
          (click)="confirm($event, order._id)"
        ></p-button>
      </td>
      <td>
        <p-button icon="pi pi-eye" (click)="show(order)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Header"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template pTemplate="header">
    <h1 style="margin: 0; padding: 0" class="font-bold white-space-nowrap">
      Замовлення
    </h1>
  </ng-template>
  <div class="wrapper">
    <p-fieldset legend="Код" [toggleable]="true">
      <p class="m-0">
        {{ current?._id }}
      </p>
    </p-fieldset>
    <p-fieldset legend="Пошта" [toggleable]="true">
      <p class="m-0">
        {{ current?.email }}
      </p>
    </p-fieldset>
    <p-fieldset legend="ФИО" [toggleable]="true">
      <p class="m-0">
        {{ current?.nameAndLastName }}
      </p>
    </p-fieldset>
    <p-fieldset legend="Номер Телефону" [toggleable]="true">
      <p class="m-0">
        {{ current?.phoneNumber }}
      </p>
    </p-fieldset>
    <p-fieldset legend="Місто" [toggleable]="true">
      <p class="m-0">
        {{ current?.city.city || current?.city.CityDescription }}
      </p>
    </p-fieldset>
    <p-fieldset legend="Область" [toggleable]="true">
      <p class="m-0">{{ current?.city.SettlementAreaDescription }}</p>
    </p-fieldset>
    <p-fieldset legend="Тип Доставлення" [toggleable]="true">
      <p class="m-0">
        {{ current?.typeOfDelivery.type }}
      </p>
    </p-fieldset>
    <p-fieldset legend="Адреса/Відділення" [toggleable]="true">
      <p class="m-0">
        {{
          current?.deliveryAddress.address ||
            current?.deliveryAddress.Description
        }}
      </p>
    </p-fieldset>
    <p-fieldset *ngIf="current?.cart" legend="Кошик" [toggleable]="true">
      <div *ngFor="let product of current.cart.products">
        <p class="m-0">Код Товару:{{ product.product._id }}</p>
        <p class="m-0">Кількість Товару:{{ product.count }}</p>
      </div>
      <p class="m-0">Сумма: {{ current.cart.totalPrice }}</p>
    </p-fieldset>
  </div>
</p-dialog>
