<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let Consultation">{{ Consultation._id }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Почта</th>
    <td mat-cell *matCellDef="let Consultation">{{ Consultation.email }}</td>
  </ng-container>

  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef>Тема</th>
    <td mat-cell *matCellDef="let Consultation">
      {{ Consultation.topic }}
    </td>
  </ng-container>

  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef>Сообщение</th>
    <td mat-cell *matCellDef="let Consultation">
      {{ Consultation.message }}
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let Consultation">
      <button
        mat-button
        (click)="deleteConsultation(Consultation._id)"
        class="delete"
      >
        Удалить
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  #paginator
  [pageSizeOptions]="[10, 25, 100]"
  showFirstLastButtons
></mat-paginator>
